{% extends "base.html" %}

{% block content %}
        {% if error != ""%}
            <div class="w3-row w3-padding-small">
                <div class="w3-col m12 w3-center"><p>{{error}}</p></div>
            </div>
        {% else %}
            <div class="w3-row w3-padding-small">
                <div class="w3-col m12 w3-center"><p>post added</p></div>
            </div>
        {% endif %}
		<div class="w3-row w3-padding-small">
			<div class="w3-col m10">
				<div class="w3-white w3-margin w3-padding-large">
					<div class="w3-container w3-blue">
                        <h2>Edit Post</h2>
					</div>
					<br>
					<form class="w3-container" method="post">
						<label class="w3-text-blue"><b>Subject</b></label>
						<input class="w3-input w3-order" type="text" name="subject" value="{{post.subject}}">

						<label class="w3-text-blue"><b>Post</b></label>
						<textarea rows="10" cols="50" class="w3-input w3-border w3-left" name="postcontent">{{post.content}}</textarea>
						<br>

						<label class="w3-text-blue"><b>Related Image Path</b></label>
						<input class="w3-input w3-border" type="text" name="postimage" value="{{post.image_path}}">
						<br>
                        <input type="hidden" name="postid" value="{{post_id}}">
                        <input type="submit" class="w3-btn w3-blue" value="Post it!" name="button-submit">
                        <input type="submit" class="w3-btn w3-blue" value="Cancel" name="button-submit">
					</form>
				</div>
			</div>
			<div class="w3-col m2 w3-center">
				<div class="w3-white w3-margin">
                    <img src="/static/img/card.jpg" alt="Prashant" style="width:100%" class="w3-grayscale">
                    <div class="w3-container">
                        <h4>Prashant Joshi</h4>
                        <p>Well this is my first web application developed using google-app-engine. Feel free to use it.</p>
                    </div>
				</div>
			</div>
		</div>

{% endblock %}