{% extends "base.html" %}

{% block content %}
		<div class="w3-row w3-padding-small">
            <div class="w3-col m10 w3-center">
                <div class="w3-center">
                    <img src="/static/img/404.png" alt="404 Page Not Found" width="550" height="309" class="w3-padding-16">
                    <br />
                    <button class="w3-button w3-blue w3-hover-orange w3-round w3-ripple"><a href="/">Take Me Home</a></button>
                </div>
            </div>
            <div class="w3-col m2 w3-center">
                <div class="w3-white w3-margin">
                    <img src="/static/img/card.jpg" alt="Prashant" style="width:100%" class="w3-grayscale">
                    <div class="w3-container">
                        <h4>Prashant Joshi</h4>
                        <p>Well this is my first web application developed using google-app-engine. Feel free to use it.</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
